:root{
    --docsearch-hit-background: var(--theme);
    --docsearch-modal-background: var(--theme);
    --docsearch-modal-shadow:var(--theme);
    --docsearch-footer-background: var(--theme);
    --docsearch-footer-shadow: var(--primary);
}

.dark {
    --docsearch-hit-background: var(--theme);
    --docsearch-modal-background: var(--theme);
    --docsearch-modal-shadow: var(--theme);
    --docsearch-footer-background: var(--theme);
    --docsearch-footer-shadow: var(--primary);
}

.DocSearch-Button{
    all: unset !important;
    display: inline;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;    
}

.DocSearch-Button-Key{
    display: none !important;
}

.DocSearch-Button .DocSearch-Search-Icon {
    display: none !important;
}

.DocSearch-Button-Placeholder {
    padding: 0 0 0 0 !important;
}

.DocSearch-SearchBar{
    background-color: var(--theme) !important;
}

.DocSearch-Form,
.DocSearch-Dropdown,
.DocSearch-Hit-source{
    background-color: var(--theme) !important;
}

.DocSearch-Hit {
    background-color: var(--theme) !important;
    border-radius: 0% !important;
}

.DocSearch-Input{
    color: var(--primary) !important;
}